<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
        }

        td {
            text-align: right;
        }
    </style>

</head>
<body>
{% load email_filters %}

<table>
    <thead>
    <tr>
        <th></th>
        <th colspan="{{building_data|building_colspan}}">{{building_name}}</th>
    </tr>
    <tr>
        <th></th>
        {% for zone in building_data.zone_list %}
        <th colspan="{{building_data|zone_colspan}}">{{zone}}</th>
        {% endfor %}
    </tr>
    <tr>
        <th></th>
        {% for _ in building_data.zone_list %}
        {% for type in building_data.type_list %}
        <th colspan="3">{{type|type_name}}</th>
        {% endfor %}
        {% endfor %}

    </tr>
    <tr>
        <th></th>
        {% for _ in building_data.zone_list %}
        {% for _ in building_data.type_list %}
        <th>Priemer</th>
        <th>Minimum</th>
        <th>Maximum</th>
        {% endfor %}
        {% endfor %}

    </tr>
    </thead>
    <tbody>
    {% for day, zones in building_data.days.items %}
    <tr>
        {% if day != "summary_statistics" %}
        <td>{{day}}</td>
        {% for values in zones.values %}
        {% for value in values %}
        <td>{{value}}</td>
        {% endfor %}
        {% endfor %}
        {% else %}
        <td>Súhrné štatistiky</td>
        {% for key,values in zones.items %}
        {% for value in values %}
        <td>{{value}}</td>
        {% endfor %}
        {% endfor %}

        {% endif %}
    </tr>
    {% endfor %}

    </tbody>

</table>

</body>
</html>